@charset "utf-8";
/* CSS Document */
.body{
	font-size: 14px;
	font-family: '微软雅黑';
	margin:0 auto; padding:0;
	}
.box{ width:1349px; margin:0 auto;}
.daohang{ width:1349px; height:120px; margin:0; padding:0; float:left;
	}
.daohang-toplogo{ margin-left:131px; margin-top:15px;float:left;
	}
.daohang-wenzi{ margin-left:385px; float:left;margin-top:50px;margin: 50 auto;
	}
.daohang-wenzi li{ font-size:20px; float:left;list-style-type:none;display:inline; margin-left:50px;text-decoration:none; float:left;text-align:center; margin-top:25px;
	}
.daohang-wenzi li a{text-decoration:none; color:#000;
   	}
.daohang-wenzi li a:hover{ color:white;
	}
.daohang-wenzi .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden
	}
.clearfix{*+height:1%;
	}
*{ margin: 0; padding: 0; list-style: none; 
	}
.daohang-wenzi li{ 
			float: left; 
			padding: 5px  20px; 
			color:#333; 
			font-weight: 590;
			margin: 0 10px 0 0; 
			transition: all .5s ease;
	}
.daohang-wenzi li:hover{
			border-radius: 30px; 
			background: #666;
			color:#fff;
	}
.daohang-tt{ width:1349px; height:7px; background-color:#000; float:left;
	}
.banner{ width:1349px; height:430px; float:left;
	}
/*---------------------导航下拉效果-------------------------------------*/
.daohang ul li ul{display: none;}
.daohang ul li:hover ul{display: block; position: absolute;z-index:3;}
.daohang ul li ul li{float:left; margin: 8px 100px 0 -20px;}
.daohang ul li ul li a{text-decoration:none; color:#000;}


/*-------------------------------品牌案例推广----------------------------------*/

.baisekk{ width:1349px; height:333px; float:left;text-align: center;
	}
.baisekk p{text-align: center; margin-top:110px;
	}
.baisekk-01{ width:165px; height:54px; float:left;margin-left:592px; margin-top:100px;border:1px solid #4ab344;							    }
.baisekk-01 h1{ font-size:20px; color:#4ab344; line-height:54px;
	}
.baisekk-01 a{ color:#4ab344;
	}
/*----------------------------案例展示------------------------------------------*/



.zuixinanlizhanshi{ width:1349px; height:200px; float:left;text-align:center;
	}
.zuixinanlizhanshi h1{ font-size:24px; color:#000; margin-top:30px;
	}
.zuixinanlizhanshi h2{ font-size:14px; color:#999; margin-top:20px;
	}
.zuixinanlizhanshi h3{ font-size:8px; color:#999; margin-top:30px;
	}
/*--------------------------最新案例下面的字--------------------------------------------*/
.VIsheji{ width:1349px; height:100px; float:left;text-align:center;
	}
.VIsheji li{ font-size:16px;line-height:65px;list-style-type:none;display:inline;
	}
.VIsheji ul li{ color:#666;
	}
.VIsheji li a{text-decoration:none; color:#666;
	}
.VIsheji a:hover{ color:#0F0;
	}
.VIshejiTP{ width:1349px; height:750px; float:left;}
.VIshejiTP1{ width:400px; height:250px; float:left; margin-left:74.5px; background-image:url(../../img/shouye-img/anlizhanshitupian/tp/VIshejiTP1.jpg);
	}
.VIshejiTP1:hover{ width:400px; height:250px;background-image:url(../../img/shouye-img/anlizhanshitupian/tp/VIshejiTP1.jpg); background-position:0 -250px;}
.VIshejiTP2{ width:400px; height:250px; float:left;background-image:url(../../img/shouye-img/anlizhanshitupian/tp/VIshejiTP2.jpg);			    }
.VIshejiTP2:hover{ width:400px; height:250px; background-image:url(../../img/shouye-img/anlizhanshitupian/tp/VIshejiTP2.jpg); background-position:0 -250px;}
.VIshejiTP3{ width:400px; height:250px; float:left;background-image:url(../../img/shouye-img/anlizhanshitupian/tp/VIshejiTP3.jpg);
	}
.VIshejiTP3:hover{ width:400px; height:250px;background-image:url(../../img/shouye-img/anlizhanshitupian/tp/VIshejiTP3.jpg); background-position:0 -250px;}
.VIshejiTP4{ width:400px; height:250px; float:left; background-image:url(../../img/shouye-img/anlizhanshitupian/tp/VIshejiTP4.jpg);margin-left:74.5px;
	}
.VIshejiTP4:hover{ width:400px; height:250px;background-image:url(../../img/shouye-img/anlizhanshitupian/tp/VIshejiTP4.jpg); background-position:0 -250px;
	}
.VIshejiTP5{ width:400px; height:250px; float:left; background-image:url(../../img/shouye-img/anlizhanshitupian/tp/VIshejiTP5.jpg);}
.VIshejiTP5:hover{width:400px; height:250px;background-image:url(../../img/shouye-img/anlizhanshitupian/tp/VIshejiTP5.jpg); background-position:0 -250px;
	}
.VIshejiTP6{ width:400px; height:250px; float:left; background-image:url(../../img/shouye-img/anlizhanshitupian/tp/VIshejiTP6.jpg);	}
.VIshejiTP6:hover{width:400px; height:250px;background-image:url(../../img/shouye-img/anlizhanshitupian/tp/VIshejiTP6.jpg); background-position:0 -250px;
	}
.VIshejiTP7{ width:400px; height:250px; float:left; margin-left:474.5px; background-image:url(../../img/shouye-img/anlizhanshitupian/tp/VIshejiTP7.jpg);	}
.VIshejiTP7:hover{width:400px; height:250px;background-image:url(../../img/shouye-img/anlizhanshitupian/tp/VIshejiTP7.jpg); background-position:0 -250px;}




/*------------------------------------底部版权---------------------------*/
.dbbq{ width:1349px; height:354px; float:left; background-image:url(../img/%E9%A6%96%E9%A1%B5img/db-kk01.png); background-color:#e0e0e0;
	}
.dbbq-logo{ width:255px; height:200px; float:left;margin-left:50px; margin-top:77px;text-align:center;
	}
.dbbq-txt{ width:630px; height:200px; float:left;  margin-top:72px; margin-left:52px;
	}
.dbbq-txt-qq{ width:12px; height:12px;float:left; margin-top:15px; margin-left:20px;
	}	
.dbbq-txt-email{ width:12px; height:10px;  float:left; margin-left:-12px; margin-top:56px;
	}
.dbbq-txt-phone{ width:11px; height:12px;float:left; margin-left:-12px; margin-top:94px;
	}
.dbbq-txt-add{ width:12px; height:16px; float:left; margin-left:-12px; margin-top:132px;
	}
.dbbq-txt-lxwm{ width:280px; height:35px; float:left; margin-left:-525px; margin-top:-185px;
	}
.dbbq-txt-lxwm p{color:#999; line-height:35px;
	}
.dbbq-txt-lxwm a{ color:#333;}
.dbbq-txt-lxwm a:hover{ color:#4ab344;}
.dbbq-txt-wenzi{ width:300px; height:146px; float:left; margin-left:18px;
	}
.dbbq-txt-wenzi h1 { font-size:12px; color:#999; line-height:40px;
	}
.dbbq-txt-wenzi h2 { font-size:12px; color:#999; line-height:40px;
	}
.dbbq-txt-wenzi h3 { font-size:12px; color:#999; line-height:40px;
	}
.dbbq-txt-wenzi h4 { font-size:12px; color:#999; line-height:40px;
	}
.dbbq-txt-bq{ width:500px; height:38px; float:left; margin-left:10px; margin-top:10px;
	}
.dbbq-txt-bq p{ font-size:12px; color:#999; text-align:left;
	}
.dbbq-txt a{text-decoration:none;
	}
.dbbq-wechat{ width:62px; height:60px; float:left; margin-left:70px; margin-top:152px;
	}
.dbbq-sina{ width:62px; height:60px; float:left; margin-left:60px; margin-top:152px;
	}	
/*----------------------------------------------------------------------*/
.page-all{
	width: 1200px;
	margin: 0 auto;
}
.fl{ float: left; }
.fr{ float:right; }
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}		