@charset "utf-8";
/* CSS Document */
.body{
	font-size: 14px;
	font-family: '微软雅黑';
	margin:0 auto; padding:0;
	}
.maxbox{ width:1349px; height:2761px; background-color:#fff; margin:0 auto;}

.box{ width:1349px; margin:0 auto;}
.daohang{ width:1349px; height:120px; margin:0; padding:0; float:left;
	}
.daohang-toplogo{ margin-left:131px; margin-top:15px;float:left;
	}
.daohang-wenzi{ margin-left:385px; float:left;margin-top:50px;margin: 50 auto;
	}
.daohang-wenzi li{ font-size:20px; float:left;list-style-type:none;display:inline; margin-left:50px;text-decoration:none; float:left;text-align:center; margin-top:25px;
	}
.daohang-wenzi li a{text-decoration:none; color:#000;
   	}
.daohang-wenzi li a:hover{ color:white;
	}
.daohang-wenzi .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden
	}
.clearfix{*+height:1%;
	}
*{ margin: 0; padding: 0; list-style: none; 
	}
.daohang-wenzi li{ 
			float: left; 
			padding: 5px  20px; 
			color:#333; 
			font-weight: 590;
			margin: 0 10px 0 0; 
			transition: all .5s ease;
	}
.daohang-wenzi li:hover{
			border-radius: 30px; 
			background: #666;
			color:#fff;
	}
.daohang-tt{ width:1349px; height:7px; background-color:#000; float:left;
	}
.banner{ width:1349px; height:402px; float:left;
	}
/*---------------------导航下拉效果-------------------------------------*/
.daohang ul li ul{display: none;}
.daohang ul li:hover ul{display: block; position: absolute;z-index:3;width:250px;}
.daohang ul li ul li{float:left; margin: 8px 120px 0 -20px; background-color:#fff; border:1px solid #000;}
.daohang ul li ul li a{text-decoration:none; color:#000;}
/*----------------------------新闻动态TXT-----------------------------------*/
.xinwendongtai-txt{ width:1349px; height:583px; float:left;
	}
.xinwendongtai-txt-tp{ width:526px; height:380px; float:left;margin-left:50px; margin-top:100px;
	}
.xinwendongtai-txt-wenzi{ width:651px; height:426px; float:left;margin-left:70px; margin-top:100px;
	}
.xinwendongtai-txt-wenzi01{ width:565px; height:86px;float:left; margin-left:43px; margin-top:15px;
	}
.xinwendongtai-txt-wenzi01 h1{ font-size:16px; margin-top:10px;color:#000;
	}
.xinwendongtai-txt-wenzi01 h2{ font-size:12px; color:#808080; line-height:24px;
	}
.xinwendongtai-txt-wenzi01 a{text-decoration:none; color:#000;
	}
.xinwendongtai-txt-wenzi01 a:hover{ color:#4ab344;
	}
.xinwendongtai-txt-wenzi02{ width:565px; height:86px; float:left; margin-top:60px;margin-left:43px;
	}
.xinwendongtai-txt-wenzi02 h1{ font-size:16px; margin-top:10px;color:#000;
	}
.xinwendongtai-txt-wenzi02 h2{ font-size:12px; color:#808080; line-height:24px;
	}
.xinwendongtai-txt-wenzi02 a{text-decoration:none;color:#000;
	}
.xinwendongtai-txt-wenzi02 a:hover{ color:#4ab344;
	}
.xinwendongtai-txt-wenzi03{ width:565px; height:86px; float:left; margin-top:14px;margin-left:43px;
	}
.xinwendongtai-txt-wenzi03 h1{ font-size:16px; margin-top:10px;color:#000;
	}
.xinwendongtai-txt-wenzi03 h2{ font-size:12px; color:#808080; line-height:24px;
	}
.xinwendongtai-txt-wenzi03 a{text-decoration:none;color:#000;
	}
.xinwendongtai-txt-wenzi03 a:hover{ color:#4ab344;
	}
/*----------------------------热点推荐-----------------------------------*/
.rediantuijian{ width:1349px; height:160px; float:left; background-color:#ededed;text-align:center;
	}
.rediantuijian h1{ font-size:24px;margin-top:50px; color:#000;
	}
.rediantuijian h2{ font-size:14px; color:#999;margin-top:25px;
	}
/*----------------------------热点推荐TXT-----------------------------------*/
.rediantuijiantxt{ width:1349px; height:1135px; float:left;
	}
.rediantuijiantxt-a{ width:1292px; height:108px; float:left; margin-left:28.5px; margin-top:100px;
	}
.rediantuijiantxt-a-01{ width:84px; height:84px; background-color:#999;float:left;text-align:center; margin-left:60px;}
.rediantuijiantxt-a-01 h1{ font-size:25px; margin-top:20px;}
.rediantuijiantxt-a-01 h1 a{text-decoration:none;color:#000;}
.rediantuijiantxt-a-01 h2{ font-size:20px; margin-top:5px;}
.rediantuijiantxt-a-01 h2 a{text-decoration:none;color:#000;}
.rediantuijiantxt-a-02{ width:1080px; height:62px;  float:left; margin-left:64px;}
.rediantuijiantxt-a-02 h1{ font-size:16px; line-height:40px;}
.rediantuijiantxt-a-02 h1 a{text-decoration:none;color:#000;}
.rediantuijiantxt-a-02 h1 a:hover{color:#4ab344;}
.rediantuijiantxt-a-02 h2{ font-size:14px; line-height:40px; color:#666;}

.rediantuijiantxt-b{ width:1292px; height:108px; float:left; margin-left:28.5px; margin-top:60px;
	}
.rediantuijiantxt-b-01{ width:84px; height:84px; background-color:#999;float:left;text-align:center;margin-left:60px;}
.rediantuijiantxt-b-01 h1{ font-size:25px; margin-top:20px;}
.rediantuijiantxt-b-01 h1 a{text-decoration:none;color:#000;}
.rediantuijiantxt-b-01 h2{ font-size:20px; margin-top:5px;}
.rediantuijiantxt-b-01 h2 a{text-decoration:none;color:#000;}
.rediantuijiantxt-b-02{ width:1080px; height:62px;  float:left; margin-left:64px;}
.rediantuijiantxt-b-02 h1{ font-size:16px; line-height:40px;}
.rediantuijiantxt-b-02 h1 a{text-decoration:none;color:#000;}
.rediantuijiantxt-b-02 h1 a:hover{color:#4ab344;}
.rediantuijiantxt-b-02 h2{ font-size:14px; line-height:40px; color:#666;}

.rediantuijiantxt-c{ width:1292px; height:108px; float:left; margin-left:28.5px; margin-top:60px;
	}
.rediantuijiantxt-c-01{ width:84px; height:84px; background-color:#999;float:left;text-align:center;margin-left:60px;}
.rediantuijiantxt-c-01 h1{ font-size:25px; margin-top:20px;}
.rediantuijiantxt-c-01 h1 a{text-decoration:none;color:#000;}
.rediantuijiantxt-c-01 h2{ font-size:20px; margin-top:5px;}
.rediantuijiantxt-c-01 h2 a{text-decoration:none;color:#000;}
.rediantuijiantxt-c-02{ width:1080px; height:62px;  float:left; margin-left:64px;}
.rediantuijiantxt-c-02 h1{ font-size:16px; line-height:40px;}
.rediantuijiantxt-c-02 h1 a{text-decoration:none;color:#000;}
.rediantuijiantxt-c-02 h1 a:hover{color:#4ab344;}
.rediantuijiantxt-c-02 h2{ font-size:14px; line-height:40px; color:#666;}

.rediantuijiantxt-d{ width:1292px; height:108px; float:left; margin-left:28.5px; margin-top:60px;
	}
.rediantuijiantxt-d-01{ width:84px; height:84px; background-color:#999;float:left;text-align:center;margin-left:60px;}
.rediantuijiantxt-d-01 h1{ font-size:25px; margin-top:20px;}
.rediantuijiantxt-d-01 h1 a{text-decoration:none;color:#000;}
.rediantuijiantxt-d-01 h2{ font-size:20px; margin-top:5px;}
.rediantuijiantxt-d-01 h2 a{text-decoration:none;color:#000;}
.rediantuijiantxt-d-02{ width:1080px; height:62px;  float:left; margin-left:64px;}
.rediantuijiantxt-d-02 h1{ font-size:16px; line-height:40px;}
.rediantuijiantxt-d-02 h1 a{text-decoration:none;color:#000;}
.rediantuijiantxt-d-02 h1 a:hover{color:#4ab344;}
.rediantuijiantxt-d-02 h2{ font-size:14px; line-height:40px; color:#666;}

.rediantuijiantxt-e{ width:1292px; height:108px; float:left; margin-left:28.5px; margin-top:60px;
	}
.rediantuijiantxt-e-01{ width:84px; height:84px; background-color:#999;float:left;text-align:center;margin-left:60px;}
.rediantuijiantxt-e-01 h1{ font-size:25px; margin-top:20px;}
.rediantuijiantxt-e-01 h1 a{text-decoration:none;color:#000;}
.rediantuijiantxt-e-01 h2{ font-size:20px; margin-top:5px;}
.rediantuijiantxt-e-01 h2 a{text-decoration:none;color:#000;}
.rediantuijiantxt-e-02{ width:1080px; height:62px;  float:left; margin-left:64px;}
.rediantuijiantxt-e-02 h1{ font-size:16px; line-height:40px;}
.rediantuijiantxt-e-02 h1 a{text-decoration:none;color:#000;}
.rediantuijiantxt-e-02 h1 a:hover{color:#4ab344;}
.rediantuijiantxt-e-02 h2{ font-size:14px; line-height:40px; color:#666;}

.rediantuijiantxt-f{ width:1292px; height:108px; float:left; margin-left:28.5px; margin-top:60px;
	}
.rediantuijiantxt-f-01{ width:84px; height:84px; background-color:#999;float:left;text-align:center;margin-left:60px;}
.rediantuijiantxt-f-01 h1{ font-size:25px; margin-top:20px;}
.rediantuijiantxt-f-01 h1 a{text-decoration:none;color:#000;}
.rediantuijiantxt-f-01 h2{ font-size:20px; margin-top:5px;}
.rediantuijiantxt-f-01 h2 a{text-decoration:none;color:#000;}
.rediantuijiantxt-f-02{ width:1080px; height:62px;  float:left; margin-left:64px;}
.rediantuijiantxt-f-02 h1{ font-size:16px; line-height:40px;}
.rediantuijiantxt-f-02 h1 a{text-decoration:none;color:#000;}
.rediantuijiantxt-f-02 h1 a:hover{color:#4ab344;}
.rediantuijiantxt-f-02 h2{ font-size:14px; line-height:40px; color:#666;}
/*------------------------------------底部版权---------------------------*/
.dbbq{ width:1349px; height:354px; float:left; background-image:url(../img/%E9%A6%96%E9%A1%B5img/db-kk01.png); background-color:#333;
	}
.dbbq-logo{ width:255px; height:200px; float:left;margin-left:50px; margin-top:77px;text-align:center;
	}
.dbbq-txt{ width:630px; height:200px; float:left;  margin-top:72px; margin-left:52px;
	}
.dbbq-txt-qq{ width:12px; height:12px;float:left; margin-top:15px; margin-left:20px;
	}	
.dbbq-txt-email{ width:12px; height:10px;  float:left; margin-left:-12px; margin-top:56px;
	}
.dbbq-txt-phone{ width:11px; height:12px;float:left; margin-left:-12px; margin-top:94px;
	}
.dbbq-txt-add{ width:12px; height:16px; float:left; margin-left:-12px; margin-top:132px;
	}
.dbbq-txt-lxwm{ width:280px; height:35px; float:left; margin-left:-525px; margin-top:-185px;
	}
.dbbq-txt-lxwm p{color:#999; line-height:35px;
	}
.dbbq-txt-lxwm a{ color:#999;}
.dbbq-txt-lxwm a:hover{ color:#4ab344;}
.dbbq-txt-wenzi{ width:300px; height:146px; float:left; margin-left:18px;
	}
.dbbq-txt-wenzi h1 { font-size:12px; color:#999; line-height:40px;
	}
.dbbq-txt-wenzi h2 { font-size:12px; color:#999; line-height:40px;
	}
.dbbq-txt-wenzi h3 { font-size:12px; color:#999; line-height:40px;
	}
.dbbq-txt-wenzi h4 { font-size:12px; color:#999; line-height:40px;
	}
.dbbq-txt-bq{ width:500px; height:38px; float:left; margin-left:10px; margin-top:10px;
	}
.dbbq-txt-bq p{ font-size:12px; color:#999; text-align:left; margin-top:40px;
	}
.dbbq-txt-bq p a{ color:#F00;}
.dbbq-txt a{text-decoration:none;
	}
.dbbq-wechat{ width:62px; height:60px; float:left; margin-left:-80px; margin-top:165px;
	}
.dbbq-sina{ width:62px; height:60px; float:left; margin-top:165px;
	}
/*----------------------------------------------------------------------*/
.page-all{
	width: 1200px;
	margin: 0 auto;
}
.fl{ float: left; }
.fr{ float:right; }
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}		