@charset "utf-8";
/* CSS Document */
.body{
	font-size: 14px;
	font-family: '微软雅黑';
	margin:0 auto; padding:0;
	}
.maxbox{ width:1349px; height:1597px; background-color:#fff; margin:0 auto;}

.box{ width:1349px; margin:0 auto;}
.daohang{ width:1349px; height:120px; margin:0; padding:0; float:left;
	}
.daohang-toplogo{ margin-left:131px; margin-top:15px;float:left;
	}
.daohang-wenzi{ margin-left:385px; float:left;margin-top:50px;margin: 50 auto;
	}
.daohang-wenzi li{ font-size:20px; float:left;list-style-type:none;display:inline; margin-left:50px;text-decoration:none; float:left;text-align:center; margin-top:25px;
	}
.daohang-wenzi li a{text-decoration:none; color:#000;
   	}
.daohang-wenzi li a:hover{ color:white;
	}
.daohang-wenzi .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden
	}
.clearfix{*+height:1%;
	}
*{ margin: 0; padding: 0; list-style: none; 
	}
.daohang-wenzi li{ 
			float: left; 
			padding: 5px  20px; 
			color:#333; 
			font-weight: 590;
			margin: 0 10px 0 0; 
			transition: all .5s ease;
	}
.daohang-wenzi li:hover{
			border-radius: 30px; 
			background: #666;
			color:#fff;
	}
.daohang-tt{ width:1349px; height:7px; background-color:#000; float:left;
	}
.banner{ width:1349px; height:402px; float:left;
	}
/*---------------------导航下拉效果-------------------------------------*/
.daohang ul li ul{display: none;}
.daohang ul li:hover ul{display: block; position: absolute;z-index:3;width:250px;}
.daohang ul li ul li{float:left; margin: 8px 120px 0 -20px; background-color:#fff; border:1px solid #000;}
.daohang ul li ul li a{text-decoration:none; color:#000;}
/*---------------------新闻TXT-------------------------------------*/
.xinwen-1{ width:1349px; height:594px;  float:left; margin-top:50px;}
.xinwen-1-a{ width:1349px; height:24px; float:left; margin-top:5px; text-align:center; font-size:18px; color:#666;}
.xinwen-1-b{width:1349px; height:25px; float:left;}
.xinwen-1-b span{ font-size:14px; margin-left:60px;}
.xinwen-1-b span a{text-decoration:none; color:#000;}
.xinwen-1-txtbox{ width:1270px; height:500px;float:left; margin-left:39.5px; margin-top:10px;}
.xinwen-1-txtbox h1{ font-size:15px; color:#000; line-height:50px;}
.xinwen-1-txtbox h2{ font-size:15px; color:#000; line-height:35px;}
.xinwen-1-fy{ width:1245px; height:30px; float:left; margin-left:52px; margin-top:20px; text-align:center;}
.xinwen-1-fy h1 a{ text-decoration:none; color:#000; font-size:14px;}
.xinwen-1-fy h1 a:hover{color:#4ab344;}
/*------------------------------------底部版权---------------------------*/
.dbbq{ width:1349px; height:354px; float:left; background-image:url(../img/%E9%A6%96%E9%A1%B5img/db-kk01.png); background-color:#333; margin-top:50px;
	}
.dbbq-logo{ width:255px; height:200px; float:left;margin-left:50px; margin-top:77px;text-align:center;
	}
.dbbq-txt{ width:630px; height:200px; float:left;  margin-top:72px; margin-left:52px;
	}
.dbbq-txt-qq{ width:12px; height:12px;float:left; margin-top:15px; margin-left:20px;
	}	
.dbbq-txt-email{ width:12px; height:10px;  float:left; margin-left:-12px; margin-top:56px;
	}
.dbbq-txt-phone{ width:11px; height:12px;float:left; margin-left:-12px; margin-top:94px;
	}
.dbbq-txt-add{ width:12px; height:16px; float:left; margin-left:-12px; margin-top:132px;
	}
.dbbq-txt-lxwm{ width:280px; height:35px; float:left; margin-left:-525px; margin-top:-185px;
	}
.dbbq-txt-lxwm p{color:#999; line-height:35px;
	}
.dbbq-txt-lxwm a{ color:#999;}
.dbbq-txt-lxwm a:hover{ color:#4ab344;}
.dbbq-txt-wenzi{ width:300px; height:146px; float:left; margin-left:18px;
	}
.dbbq-txt-wenzi h1 { font-size:12px; color:#999; line-height:40px;
	}
.dbbq-txt-wenzi h2 { font-size:12px; color:#999; line-height:40px;
	}
.dbbq-txt-wenzi h3 { font-size:12px; color:#999; line-height:40px;
	}
.dbbq-txt-wenzi h4 { font-size:12px; color:#999; line-height:40px;
	}
.dbbq-txt-bq{ width:500px; height:38px; float:left; margin-left:10px; margin-top:10px;
	}
.dbbq-txt-bq p{ font-size:12px; color:#999; text-align:left; margin-top:40px;
	}
.dbbq-txt-bq p a{ color:#F00;}
.dbbq-txt a{text-decoration:none;
	}
.dbbq-wechat{ width:62px; height:60px; float:left; margin-left:-80px; margin-top:165px;
	}
.dbbq-sina{ width:62px; height:60px; float:left; margin-top:165px;
	}
/*----------------------------------------------------------------------*/
.page-all{
	width: 1200px;
	margin: 0 auto;
}
.fl{ float: left; }
.fr{ float:right; }
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}		